<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Chart</title>
    <style>
        h1 {
            color: #5670BC;
        }
        body {
            font-family: "Helvetica", "Sans-Serif";
            color: #65666B;
        }
        .fieldset-container {
          display: flex;
        }
        .fieldset-container fieldset {
          flex: 1;
        }
        input {
            margin: 0.4rem;
        }

        .radio-container {
            display: inline-block;
            margin-right: 10px;
          }

          /* Стили для fieldset */
          fieldset {
            padding: 0;
            margin: 0;
            display: inline-block;
          }

        .description {
            font-size: 12px;
        }
    </style>
</head>
<body>
<h1>Weather's charts</h1>

<fieldset>
    <legend>Select device:</legend>
    <div th:each="item : ${chartItems}" class="radio-container">
        <input type="radio" th:id="${item}" name="item" th:value="${item}">
        <label th:for="${item}" th:text="${item}"></label>
    </div>
</fieldset>
<br>
<div class="fieldset-container">
    <fieldset>
        <legend>Select values type:</legend>
        <div th:each="value : ${chartValues}">
            <input type="radio" th:id="${value}" name="value" th:value="${value}">
            <label th:for="${value}" th:text="${value}"></label>
        </div>
    </fieldset>

    <fieldset>
        <legend>Select type of parse file:</legend>
        <div th:each="parse : ${chartParser}">
            <input type="radio" th:id="${parse}" name="parse" th:value="${parse}">
            <label th:for="${parse}" th:text="${parse}"></label>
        </div>
    </fieldset>

    <fieldset>
        <legend>Select averaging:</legend>
        <div th:each="averaging : ${chartAveraging}">
            <input type="radio" th:id="${averaging}" name="averaging" th:value="${averaging}">
            <label th:for="${averaging}" th:text="${averaging}"></label>
        </div>
    </fieldset>

    <fieldset>
        <legend>Select time range:</legend>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate">
        <br>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate">
    </fieldset>
</div>

<button id="updateButton">Draw charts</button>

<div id="categoryChartContainer" style="width: 100%; min-height: 400px"></div>
<div id="barChartContainer" style="width: 100%; min-height: 400px"></div>
<div id="scatterChartContainer" style="width: 100%; min-height: 400px"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
<script th:inline="javascript">
    function updateChartData() {
        var selectedDevice = $("input[name='item']:checked").val();
        var selectedValue = $("input[name='value']:checked").val();
        var selectedParser = $("input[name='parse']:checked").val();
        var selectedAveraging = $("input[name='averaging']:checked").val();
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();

        $.ajax({
            type: "POST",
            url: '/chart',
            data: {
                item: selectedDevice,
                value: selectedValue,
                parse: selectedParser,
                averaging: selectedAveraging,
                startDate: startDate,
                endDate: endDate
            },
            success: function(data) {
                $.get('/getXData', function(xData) {
                    $.get('/getYData', function(yData) {
                        var categoryChart = echarts.init(document.getElementById('categoryChartContainer'));
                        var categoryOption = {
                            xAxis: {
                                type: 'category',
                                data: xData
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [{
                                data: yData,
                                type: 'line'
                            }]
                        };
                        categoryChart.setOption(categoryOption);

                        var barChart = echarts.init(document.getElementById('barChartContainer'));
                        var barOption = {
                            xAxis: {
                                type: 'category',
                                data: xData
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [{
                                data: yData,
                                type: 'bar'
                            }]
                        };
                        barChart.setOption(barOption);

                        xData = xData.map(dateString => new Date(dateString));
                        var sortedData = xData.map((value, index) => ({ x: value, y: yData[index] }))
                                             .sort((a, b) => a.x - b.x);
                        xData = sortedData.map(data => data.x);
                        yData = sortedData.map(data => data.y);
                        var scatterChart = echarts.init(document.getElementById('scatterChartContainer'));
                        var scatterOption = {
                          xAxis: {
                            type: 'time',
                            axisLabel: {
                              formatter: function (value) {
                                return new Date(value).toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' });
                              }
                            }
                          },
                          yAxis: {},
                          series: [
                            {
                              symbolSize: 20,
                              data: yData.map((value, index) => [xData[index], value]),
                              type: 'scatter'
                            }
                          ]
                        };

                        scatterOption && scatterChart.setOption(scatterOption);
                    });
                });
            },
            error: function(error) {
                console.log("Error updating chart data:", error);
            }
        });
    }

    $(document).ready(function() {
        $("#updateButton").click(function() {
            updateChartData();
        });
    });
</script>

<fieldset>
    <legend>For temperature sensing:</legend>
    <br>8. So hot
    <br>7. Hot
    <br>6. Heat
    <br>5. Normally
    <br>4. Chill
    <br>3. Cold but ok
    <br>2. Cold
    <br>1. Very cold
    <br>0. Russia
</fieldset>

</body>
</html>
